/* font-family: 'Courgette', cursive; */
/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* text-shadow: 3px 3px darkslategrey; */
}

body {
    width: 100vw;
}

video {
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem 2rem 4rem;
}

.page-title h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 3px 3px black;
}

.searchbar input {
    color: black;
}

/* PAGE TOP */

.page-top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    max-width: 70rem;
    margin: 0 auto;
}

/* FORECAST CONTAINER */

.forecast-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17rem;
}

.location {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.date {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.tempurature {
    font-size: 3rem;
}

.forecast-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.forecast-bottom h1 {
    padding-top: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 1.2rem;
}

.forecast-bottom h4 {
    padding-top: 0.5rem;
}

.bottom-one,
.bottom-two,
.bottom-three {
    display: flex;
    justify-content: space-between;
}


.bottom-one img {
    height: 4rem;
}

.bottom-one h1 {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.dew-point,
.visibility {
    text-align: right;
    padding-bottom: 0.2rem;
}

/* HOURLY FORECAST */

.hourly-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hourly-forecast h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
}

.hourly-container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 10rem;
    width: 15rem;
    padding-bottom: 1.1rem;
    font-size: 1rem;
}

.hourly-forecast img {
    display: flex;
    flex-direction: column;
    height: 2rem;
}

.time-eight {
    padding-bottom: 0 !important;
}



.forecast-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

/* PAGE BOTTOM */

.page-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 70rem;
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
    width: 60rem;
    margin: 0 auto;
}

.daily-forecast h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* DAILY CONTAINER */

.daily-container {
    display: flex;
    justify-content: space-evenly;
}

.daily-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-container img:nth-child(2) {
    height: 3rem;
    width: 3rem;
}

.daily-container img:nth-child(1) {
    height: 1.2rem;
    width: 1.2rem;
}

.div-format > * {
    padding-bottom: 0.5rem;
}

.daily-container div div {
    width: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SEARCH MODAL */

.search-modal {
    height: 50vh;
    width: 20rem;
    margin: auto;
    background-image: linear-gradient(135deg,orange, white, skyblue);
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 15px black;
}

.search-modal h1 {
    color: black;
    padding: 1rem 0 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.option-button {
    color: black;
    background-color: white;
    height: 2rem;
    width: 80%;
    font-size: 0.7rem;
    margin: 0 0 1.5rem 10%;
    border-radius: 5px;
}

.option-button:hover {
    cursor: pointer;
    background-color: rgb(222, 243, 252);
}

.modal-error {
    text-align: center;
    color: red;
    font-size: 1.2rem;
    margin: 8rem 0 2rem;
    
}

.close-button {
    color: black;
    border: none;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 1rem;
}

.close-button:hover {
    text-decoration: underline;
    cursor: pointer;
}